* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: slategray;
}

nav a {
    font-size: 20px;
    color: slategray;
    padding: 5px;
    text-decoration: none;
}

.header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: gold;
    padding: 8px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 2em;
}

nav a:hover {
    color: crimson;
}

.image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.me {
    width: 45%;
    max-width: 300px;
    margin-right: 0 auto;
}

body {
    background-color: blue;
}

.work {
    width: 40%;
    max-width: 250px;
    padding: 5px;
}

section ul li {
    display: inline-block;
    list-style: none;
    justify-content: center;
}

.articles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: slategray;
    background-color: gold;
    margin-bottom: 20px;
    height: 400px;
    outline: 5px solid slategray;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    text-decoration: underline;
    font-size: 3rem;
    text-align: center;
}

p {
    display: flex;
    font-size: 1.5rem;
    margin-left: 2em;
    margin-right: 2em;
    color: slategray;
    text-align: center;
}

.footer {
    display: inline-block;
    list-style: none;
    color: slategray;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: inherit;
}


@media  screen and (min-width: 320px) 
    and (max-width:480px) {
    .header {
       text-align: center;
    }
    
    .nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.8em 0;
    }

    .image {
        flex-direction: column;
    }

    .articles {
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
    }

    section ul li {
        display: list-item;
    }

   
}