* {
    /* box-sizing: border-box; */
}

.header {
    display:flex;
    justify-content: space-between;
    /* padding: 20px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: turquoise;
    color: slategray;
    background-size: cover;
}
.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    display: flex;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.container {
    display: flex;
    border: 20px;
}

.me {
    width: 100px;
}