* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display:flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gold;
    color: slategray;
    background-size: cover;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    display: flex;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.me {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: blue;
}

.work {
    width: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

.articles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: slategray;
    background-color: gold;
    margin-bottom: 20px;
    height: 200px;
    outline: 5px solid slategray;
    /* outline-offset: -5px; */
    margin-right: 20px;
    margin-left: 20px;
}

h2 {
    text-decoration: underline;
    font-size: large;
}